---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const books = await getCollection("books");

export const prerender = true;
---

<Layout title="My book shelf">
  <header class="header">
    <div class="header-title">
      <!-- <span class="header-title__ornament">✦</span> -->
      <h1 class="heading-primary">
        the shelf <span>a few books worth your time</span>
      </h1>
      <span class="header-title__ornament">✦ ✦ ✦</span>
    </div>
  </header>
  <main>
    <section class="quote">
      <blockquote>
        <p>"Books are a uniquely portable magic."</p>
        <cite>Stephen King</cite>
      </blockquote>
    </section>
    <section aria-label="My book recommendations">
      <div class="books-container">
        <div class="books-container__list">
          {
            books.map((book) => {
              const { id, data } = book;
              const {
                title,
                author,
                publishYear,
                rating,
                cover,
                description,
                buy,
              } = data;

              return (
                <article class="book-card">
                  <a href={`/book/${id}`} class="book-card__cover">
                    <Image
                      src={cover}
                      alt={title}
                      transition:name={`cover-${id}`}
                      width={200}
                      height={300}
                    />
                  </a>

                  <div class="book-card__content">
                    <div class="book-card__content_title">
                      <h3 class="heading-tertiary">{title} </h3>
                      <h4 class="heading-four">{author}</h4>
                    </div>

                    {/* <p class="book-card__description">{description}</p> */}
                    <span class="book-card__stars">
                      {Array.from({ length: rating }).map((_, i) => (
                        <span>★</span>
                      ))}
                    </span>
                  </div>
                </article>
              );
            })
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
