---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const books = await getCollection("books");
---

<Layout title="My book shelf">
  <main>
    <h1 class="heading-primary">Book <span>recommendations</span></h1>

    <section aria-label="My book recommendations">
      <div class="books-container">
        <div class="books-container__list">
          {
            books.map((book) => {
              const { id, data } = book;
              const {
                title,
                author,
                publishYear,
                rating,
                cover,
                description,
                buy,
              } = data;

              return (
                <article class="book-card">
                  <a href={`/book/${id}`} class="book-card__cover">
                    <Image
                      src={cover}
                      alt={title}
                      transition:name={`cover-${id}`}
                      width={384}
                      height={576}
                    />
                  </a>

                  <div class="book-card__title">
                    <h2 class="heading-tertiary">{title}</h2>
                    <p class="book-card__description">{description}</p>
                    <span class="book-card__stars">
                      {Array.from({ length: rating }).map((_, i) => (
                        <span>★</span>
                      ))}
                    </span>
                  </div>
                </article>
              );
            })
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
